<!DOCTYPE html>
<html>
<head>
  <title>Database</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/table2.css') }}">
</head>

<body>
<div style="font-size:30px;text-align:center;font-family: monospace;">Database</div><br>
<table class="rtable">
  <thead>
    <tr>
        <th>Sl No.</th>
        <th>Name</th>
        <th>Login</th>
		<th>inMask</th>
		<th>Logout</th>
		<th>outMask</th>
		
    </tr>
    </thead>    
    <tbody>
     {% for row in data %}    
            <tr>
                <td>{{row[0]}}</td>
                <td>{{row[1]}}</td>
                <td>{{row[2]}}</td>
				<td>{{row[4]}}</td>
                <td>{{row[3]}}</td>
                <td>{{row[5]}}</td>
            </tr>
     {% endfor %}
    </tbody>
</table>
</body>
</html>